!!!
%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
/
%link{:rel => 'stylesheet', :href => 'https://fonts.googleapis.com/icon?family=Material+Icons'}
%link{:rel => 'stylesheet', :href => 'https://code.getmdl.io/1.3.0/material.indigo-pink.min.css'}
%script{:defer=>'defer',:src=>'https://code.getmdl.io/1.3.0/material.min.js'}
%link{:rel=>'stylesheet',:href=>'https://fonts.googleapis.com/css?family=Roboto+Mono'}
%link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css",  :rel => "stylesheet"}
= stylesheet_link_tag "login", :media => "all"
%html
  %body
    %a.navbar-brand{:href=>'./'}
      SpiderChat
    .allchange
      .titleText
        Login
      %br
      %br
      %br
      %form{:action=>'#'}
        = form_for @user, :url => {:controller => 'user_show', :action => 'logincheck'} do |f|
          .mdl-textfield.mdl-js-textfield
            = f.text_field :username,:class=>'mdl-textfield__input',:type => "text"
            %label.mdl-textfield__label Username...
          %br
          .mdl-textfield.mdl-js-textfield
            = f.password_field :password,:class=>'mdl-textfield__input',:type => "password",:minlength=>'6',:maxlength=>'30'
            %label.mdl-textfield__label Password...
          %br
          = f.submit 'Login',:class=>'mdl-button--raised buttonSize'
