<%= form_for @user do |f|%>

<link rel="stylesheet" href="signup.css">
<html>

  <head>
    <title>Practice</title>
  </head>

  <body>
    <h1 class="Titlestr">Sign up</h1>
    <h2 class="Titlestr">さようなら世界</h2>
    <h3 class="Titlestr">~ この世の終わりに名前を残す ~</h3>
    <div class="box">
      <div class="Impact">Input Your Name</div>
      <center>
        <td>
          <!--<input type="text" name="InputName" size="30" maxlength="20"></input>-->
          <%=f.text_field :username%>
        </td>
      </center>
    </div>

    <br>

    <div class="box">
      <div class="Impact">Write about yourself</div>
      <center>
        <td class="center">
          <!--<input type="text" name="InputComment" size="20" maxlength="100"></input>-->
          <%=f.text_field :comment%>
          <%=f.text_field :userid%>
        </td>
      </center>
    </div>
  </body>

</html>
<%=f.submit%>
<%end%>
